mixin decision()

    +b('section').decision
        .container
            +e.block 
                +e('h4').title Хотите списать свои долги<br>как сделали другие?
                +e.line
                +e.slogan Мы позаботимся
            +e.wrap
                +e.text 
                    +e.title-text  О спокойствии
                    +e.description Вас больше не побеспокоят звонки, визиты коллекторов или приставов. Ваши долги спишутся и уйдут, как и проблемы с ними связанные. Жизнь наладится!
                +e.text
                    +e.title-text Об имуществе
                    +e.description Мы сделаем все, чтобы законно сохранить Ваше имущество и активы: квартиру, дом, землю, автомобиль или деньги. Мы находимся на Вашей стороне.
                +e.text 
                    +e.title-text О финансах 
                    +e.description Ваши финансы в безопасности. Мы сохраним все Ваши доходы и спишем кредиты и долги в кратчайшие сроки. 
            +e.wrap-feedback
                +e.feedback
                    +e('p').subtitle Остались вопросы?
                    +e('p').message Оставьте заявку и наш специалист свяжется с Вами для<br>консультации по любым вопросам
                    +e('input')(type="text", placeholder="Как к Вам обращаться").input-name
                    +e('input')(type="number", placeholder="Контактный телефон").input-number
                    +e('button').submit Оставить заявку
                    +e.wrap-checkbox
                        +e('input').checkbox
                        +e('p').text-checkbox Нажимая на кнопку «Оставить заявку»,<br>Вы соглашаетесь с <span>Политикой конфиденциальности</span>
            +e('p').sup-title У должника прав больше, чем у банка и каждый наш клиент знает об этом в деталях
