.decision
    padding-top w(120)

    &__block 
        text-align center

    &__wrap
        width w(1134)
        height w(190)
        border-radius w(15)
        padding w(30) w(28) w(30) w(28)
        display flex
        flex-direction row
        background $c-yellow

    &__line
        width w(163)
        height w(4)
        background $c-yellow
        margin 0 auto

    &__slogan
        font-weight 700
        font-size w(26)
        padding w(60) w(0) w(30)
        line-height w(33)
        font-family $ff-Arsenal


    &__title
        font-family $ff-Arsenal
        font-weight 700
        font-size w(48)
        line-height w(68)
        color $c-black
        padding-bottom w(15)
        text-transform uppercase

    &__text
        font-family $ff-Arsenal
        font-size w(26)
        line-height w(33)
        font-weight 700
        padding-left w(38)
        padding-right w(18)
        border-left w(2) solid #fff
        &:first-child
            padding-left 0
            border-left none
        &:last-child
            padding-right 0

        &::before
            content ''
            position absolute
            left w(-10)
            top w(-10)
            width w(25)
            height w(25)
            background $c-yellow
            border-radius w(20)
            z-index -1
            

    &__title-text
        font-family $ff-Arsenal
        font-style normal
        font-weight 700
        font-size w(22)
        line-height w(28)

    &__description
        font-family $ff-Arsenal
        padding-top w(20)
        font-weight 400
        font-size w(16)
        line-height w(20)

    &__wrap-feedback
        border-radius w(15)
        width w(1134)
        height w(395)
        margin w(30) auto
        background url('/images/decision.jpg') no-repeat center
        border 1px solid #262626
        float left 

    &__feedback
        width w(395)
        padding w(30) 0 w(30) w(30)
        display flex
        flex-direction column
        align-items center

    &__subtitle
        font-family $ff-Arsenal
        font-weight 700
        font-size w(26)
        line-height w(33)
        color $c-black
        text-align center

    &__message
        width w(395)
        padding-top w(35)
        font-family $ff-Arsenal
        font-weight 400
        font-size w(14)
        line-height w(20)
        color #000
        text-align center

    &__input-name
        padding-left w(20)
        margin-top w(25)
        width 100%
        height w(42)
        background $c-white
        border w(1) solid $c-grey
        border-radius w(53)

    &__input-number
        padding-left w(20)
        margin-top w(15)
        width 100%
        height w(42)
        background $c-white
        border w(1) solid $c-grey
        border-radius w(53)

    &__submit
        margin w(20) w(0) w(10)
        width w(155)
        height w(42)
        background linear-gradient(97.83deg, #F9ED32 -2.86%, #FBB040 84.88%)
        border-radius w(53)
        font-family $ff-Arsenal
        font-style normal
        font-weight 400
        font-size w(14)
        line-height w(18)
        color $c-black
        border none

    &__wrap-checkbox
        display flex
        flex-direction row

    &__checkbox
        width w(15)
        height w(15)
        border w(1) solid $c-grey
        border-radius w(2)

    &__text-checkbox
        padding-left w(5)
        font-family $ff-Arsenal
        font-weight 400
        font-size w(10)
        line-height w(13)
        color $c-black
        span
            padding-bottom w(2)
            font-weight 700
            border-bottom w(1px) solid $c-black
            color $c-black

    &__sup-title
        font-family $ff-Arsenal
        font-weight 700
        font-size w(26)
        line-height w(33)
        text-align center
        width w(552)
        margin 0 auto



    

