.help
    padding-top w(120)

    &__title
        padding-bottom w(15)
        font-family $ff-Arsenal
        font-weight 700
        font-size w(48)
        line-height w(68)
        color $c-black
        text-align center
        text-transform uppercase
        border-bottom w(4) solid $c-yellow

    &__line
        width w(163)
        height w(4)
        background $c-yellow
        margin 0 auto

    &__wrap
        position relative
        padding-top w(60)
        display flex
        flex-direction row
        justify-content space-between

    &__wrap__block
        width w(203)

    &__counter
        width w(56)
        padding w(12) w(15)
        font-family $ff-Arsenal
        font-weight 700
        font-size w(26)
        line-height w(33)
        color $c-black
        background $c-yellow
        border-radius w(53)

    &__block__title
        padding w(25) 0 w(15)
        font-family $ff-Arsenal
        font-weight 700
        font-size w(18)
        line-height w(23)
        color $c-black

    &__block__text
        font-family $ff-Arsenal
        font-weight 400
        font-size w(14)
        line-height w(18)
        color $c-black

    &__subtitle
        padding-top w(40)
        font-family $ff-Arsenal
        font-weight 700
        font-size w(26)
        line-height w(33)
        color $c-black
        text-align center

    &__wrap__line
        position absolute
        display flex
        flex-direction row

    &__dotted-line
        margin w(20) 0 w(20) w(84) 
        padding 0
        width w(149)
        height w(2)
        border none
        background linear-gradient(to right, transparent 50%, #fff 50%), $c-yellow
        background-size w(16) w(2), 100% w(2)
        &:first-child
            margin w(20) 0 w(20) w(70)
        &:last-child
            width 0