mixin help()

    +b('section').help
        .container
            +e('p').title Как мы поможем списать<br>ваши долги?
            +e.line
            +e.wrap
                +e.wrap__block
                    +e('p').counter 01
                    +e('p').block__title Анализ<br>ситуации
                    +e('p').block__text Изучаем вашу проблему
                +e.wrap__block
                    +e('p').counter 02
                    +e('p').block__title Заключение<br>договора
                    +e('p').block__text У нас есть гибкие условия оплаты<br>услуги, которые подойдут<br>каждому
                +e.wrap__block
                    +e('p').counter 03
                    +e('p').block__title Сбор документов и<br>подача заявления в суд
                    +e('p').block__text Мы формируем заявление о<br>признании должника банкротом<br>и подаём в суд
                +e.wrap__block
                    +e('p').counter 04
                    +e('p').block__title Работа арбитражного<br>управляющего
                    +e('p').block__text и работа Вашего юриста по<br>защите прав в суде
                +e.wrap__block
                    +e('p').counter 05
                    +e('p').block__title Завершение процедуры<br>списания
                    +e('p').block__text Получение решения суда и, как<br>результат, полное списание<br>долгов
            +e('p').subtitle От вас требуется только заключить договоры и предоставить<br>документы! Все остальные проблемы по кредитам и долгам -<br>мы берем на себя, от начала до конца