mixin can-help()

    +b('section').can-help
        .container
            +e.block 
                +e('h4').title кому мы можем помочь?
                +e.line
            +e.wrap
                +e('p').text Нет просрочек, но платить тяжело
                +e('p').text Небольшие просрочки, 1-2 месяца
                +e('p').text Просрочки более 90 дней, есть судебные решения, звонят коллекторы, списывают судебные приставы
            +e.block    
                <iframe width="1134" height="637" src="https://www.youtube.com/embed/AQGy90ZvS6g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                