mixin questions()

    +b('section').questions
        .container
            +e('h4').title Вопросы и ответы
            +e.line
            +e.wrap 
                +e('div')(id="list-1").wrap-list
                    +e.block
                        +e.icon
                            img(src='/images/question.png')
                        +e.subtitle Могу я списать долги, если у меня есть имущество?
                    +e.plus
                        img(src='/images/plus.png')
                +e('div')(id="item-1").wrap-item
                    +e('p').text При проведении процедуры полного списания долга Вы можете сохранить своё имущество, либо часть имущества. Это возможно с помощью законных мер, в частности - передачи имущества в судебном порядке третьим лицам, либо выкуп имущества в процессе торгов при реализации имущества. Подробнее о том, как лучше поступить - узнайте у специалистов нашей компании
                    +e('p').text В результате: Ваше имущество будет сохранено, а Ваши кредиты и долги - списаны полностью.
                +e('div')(id="list-2").wrap-list
                    +e.block
                        +e.icon
                            img(src='/images/question.png')
                        +e.subtitle После процедуры банкротства мне больше не дадут<br>кредитов?
                    +e.plus
                        img(src='/images/plus.png')
                +e('div')(id="item-2").wrap-item
                    +e('p').text При проведении процедуры полного списания долга Вы можете сохранить своё имущество, либо часть имущества. Это возможно с помощью законных мер, в частности - передачи имущества в судебном порядке третьим лицам, либо выкуп имущества в процессе торгов при реализации имущества. Подробнее о том, как лучше поступить - узнайте у специалистов нашей компании
                    +e('p').text В результате: Ваше имущество будет сохранено, а Ваши кредиты и долги - списаны полностью.
                +e('div')(id="list-3").wrap-list
                    +e.block
                        +e.icon
                            img(src='/images/question.png')
                        +e.subtitle У меня есть зарплата, мне нельзя проходить процедуру?
                    +e.plus
                        img(src='/images/plus.png')
                +e('div')(id="item-3").wrap-item
                    +e('p').text При проведении процедуры полного списания долга Вы можете сохранить своё имущество, либо часть имущества. Это возможно с помощью законных мер, в частности - передачи имущества в судебном порядке третьим лицам, либо выкуп имущества в процессе торгов при реализации имущества. Подробнее о том, как лучше поступить - узнайте у специалистов нашей компании
                    +e('p').text В результате: Ваше имущество будет сохранено, а Ваши кредиты и долги - списаны полностью.
                +e('div')(id="list-4").wrap-list
                    +e.block
                        +e.icon
                            img(src='/images/question.png')
                        +e.subtitle А вдруг мне не спишут долги и все это обман?
                    +e.plus
                        img(src='/images/plus.png')
                +e('div')(id="item-4").wrap-item
                    +e('p').text При проведении процедуры полного списания долга Вы можете сохранить своё имущество, либо часть имущества. Это возможно с помощью законных мер, в частности - передачи имущества в судебном порядке третьим лицам, либо выкуп имущества в процессе торгов при реализации имущества. Подробнее о том, как лучше поступить - узнайте у специалистов нашей компании
                    +e('p').text В результате: Ваше имущество будет сохранено, а Ваши кредиты и долги - списаны полностью.
                +e('div')(id="list-5").wrap-list
                    +e.block
                        +e.icon
                            img(src='/images/question.png')
                        +e.subtitle У меня нет денег платить, я и так плачу кучу кредитов,<br>как мне быть?
                    +e.plus
                        img(src='/images/plus.png')
                +e('div')(id="item-5").wrap-item
                    +e('p').text При проведении процедуры полного списания долга Вы можете сохранить своё имущество, либо часть имущества. Это возможно с помощью законных мер, в частности - передачи имущества в судебном порядке третьим лицам, либо выкуп имущества в процессе торгов при реализации имущества. Подробнее о том, как лучше поступить - узнайте у специалистов нашей компании
                    +e('p').text В результате: Ваше имущество будет сохранено, а Ваши кредиты и долги - списаны полностью.
                +e('div')(id="list-6").wrap-list
                    +e.block
                        +e.icon
                            img(src='/images/question.png')
                        +e.subtitle Если я перестану платить, мне начнут звонить банки?
                    +e.plus
                        img(src='/images/plus.png')
                +e('div')(id="item-6").wrap-item
                    +e('p').text При проведении процедуры полного списания долга Вы можете сохранить своё имущество, либо часть имущества. Это возможно с помощью законных мер, в частности - передачи имущества в судебном порядке третьим лицам, либо выкуп имущества в процессе торгов при реализации имущества. Подробнее о том, как лучше поступить - узнайте у специалистов нашей компании
                    +e('p').text В результате: Ваше имущество будет сохранено, а Ваши кредиты и долги - списаны полностью.
                +e('div')(id="list-7").wrap-list
                    +e.block
                        +e.icon
                            img(src='/images/question.png')
                        +e.subtitle Можно ли списать долги  до 500 000 рублей?
                    +e.plus
                        img(src='/images/plus.png')
                +e('div')(id="item-7").wrap-item
                    +e('p').text При проведении процедуры полного списания долга Вы можете сохранить своё имущество, либо часть имущества. Это возможно с помощью законных мер, в частности - передачи имущества в судебном порядке третьим лицам, либо выкуп имущества в процессе торгов при реализации имущества. Подробнее о том, как лучше поступить - узнайте у специалистов нашей компании
                    +e('p').text В результате: Ваше имущество будет сохранено, а Ваши кредиты и долги - списаны полностью.
                +e('button').submit Задать свой вопрос