.questions
    padding-top w(120)

    &__title
        padding-bottom w(15)
        font-family $ff-Arsenal
        font-weight 700
        font-size w(48)
        line-height w(60)
        color $c-black
        text-transform uppercase
        text-align center

    &__line
        width w(163)
        height w(4)
        background $c-yellow
        margin 0 auto

    &__wrap
        padding w(60) 0 w(40)

    &__wrap-item
        padding-top w(30)
        width w(746)
        display flex
        flex-direction row
        justify-content space-between
        &:first-child
            padding-top w(0)

    &__subtitle
        padding w(0) w(15)
        font-family $ff-Arsenal
        font-weight 700
        font-size w(26)
        line-height w(33)
        color $c-black

    &__text
        font-family $ff-Arsenal
        font-weight 400
        font-size w(18)
        line-height w(24)
        color $c-black

    &__submit
        width w(165)
        height w(42)
        background linear-gradient(97.83deg, #F9ED32 -2.86%, #FBB040 84.88%)
        border-radius w(53)
        font-family $ff-Arsenal
        font-style normal
        font-weight 400
        font-size w(14)
        line-height w(18)
        color $c-black
        border none