mixin solution-methods()

    +b('section').solution-methods
        .container
            +e('p').title <span>3 способа</span> законного решения<br>проблем с кредитами
            +e.line
            +e.card
                +e.card-item
                    +e.image
                        img(src='/images/method-1.png')
                    +e.card-title Полное списание<br>кредитов и долгов
                    +e.card-subtitle На основании ФЗ № 127 «О несостоятельности (банкротстве)»
                    <hr>
                    +e.card-text Все платежи по кредитам - отменяются, все выплаты банкам, МФО и другим кредиторам - прекращаются.
                    +e.card-text Ваши кредиты и долги = <span>0 руб 00 коп.</span>
                    +e.price-1
                        +e.card-price от 15000 Р/мес
                        +e.submit Получить консультацию
                +e.card-item
                    +e.image
                        img(src='/images/method-2.png')
                    +e.card-title Реструктуризация
                    +e.card-subtitle На основании ФЗ № 127 «О несостоятельности (банкротстве)»
                    <hr>
                    +e.card-text Зафиксированная сумма долга
                    +e.card-text Единый платеж по всем кредитам
                    +e.card-text Уменьшение платежа до посильного
                    +e.price-2
                        +e.card-price от 10 000 Р/мес
                        +e.submit Получить консультацию
                +e.card-item
                    +e.image
                        img(src='/images/method-3.png')
                    +e.card-title Частичное списание<br>кредитов и долгов
                    +e.card-subtitle На основании ст. 333 ГК РФ, ст. 395 ГК РФ, ФЗ № 229 и др.
                    <hr>
                    +e.card-text Уменьшение платежей по кредитам
                    +e.card-text Зафиксированная сумма долга
                    +e.card-text <span>Идеально подходит для тех, кто хочет выплатить кредиты, но не хочет переплачивать банкам</span>
                    +e.price-3
                        +e.card-price от 4 000 Р/мес
                        +e.submit Получить консультацию
            
                