.about-us
    padding w(120) 0

    &__wrap
        display flex
        flex-direction row
        justify-content space-between

    &__title
        font-family $ff-Arsenal
        font-weight 700
        font-size w(48)
        line-height w(68)
        color $c-black
        padding-bottom w(15)
        text-transform uppercase

    &__line
        width w(163)
        height w(4)
        background $c-yellow

    &__subtitle
        padding-top w(60)
        width w(551)
        font-family $ff-Arsenal
        font-weight 700
        font-size w(18)
        line-height w(23)
        color $c-black

    &__text
        padding-top w(30)
        width w(551)
        font-family $ff-Arsenal
        font-weight 400
        font-size w(16)
        line-height w(20)
        color $c-black

    &__image
        padding-top w(23)
        width w(552)
        img
            width 100%