mixin about-us()

    +b('section').about-us
        .container
            +e.wrap 
                +e.block 
                    +e('h4').title Несколько слов<br>о нас
                    +e.line
                    +e('p').subtitle Lorem ipsum dolor sit amet consectetur. Feugiat laoreet felis auctor elementum platea. Vitae ullamcorper maecenas lobortis amet. 
                    +e('p').text Lorem ipsum dolor sit amet consectetur. Feugiat laoreet felis auctor elementum platea. Vitae ullamcorper maecenas lobortis amet. Suscipit ipsum nunc imperdiet sociis aliquet urna sit habitant. Curabitur feugiat velit ipsum volutpat ultricies quis vel ipsum. Facilisi posuere sodales dui massa urna scelerisque sed volutpat velit.
                <iframe width="552" height="310" src="https://www.youtube.com/embed/eoO37_I2UaE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="padding: 23px 0px"></iframe>