.header-top
    position relative
    margin w(15) 0

    &__wrap
        display flex
        flex-direction row

    &__block
        padding w(21) w(50) w(30) w(173)
        &:nth-child(3)
            padding w(21) w(0) w(30)
        &:nth-child(4)
            padding w(21) w(70) w(30) w(50)

    &__logo
        width w(265)
        img
            width 100%

    &__text
        padding-bottom w(10)
        font-family $ff-Arsenal
        font-style normal
        font-weight 400
        font-size w(14)
        line-height w(18)
        color $c-black

    &__info
        font-family $ff-Arsenal
        font-style normal
        font-weight 700
        font-size w(18)
        line-height w(23)
        color $c-black

    &__wrap__icon
        display flex
        flex-direction row

    &__icon
        width w(25)
        img
            width 100%

    &__submit
        margin-top w(26)
        width w(165)
        height w(42)
        background linear-gradient(97.83deg, #F9ED32 -2.86%, #FBB040 84.88%)
        border-radius w(53)
        font-family $ff-Arsenal
        font-style normal
        font-weight 400
        font-size w(14)
        line-height w(18)
        color $c-black
        border none

    