.option
    padding-top w(120)

    &__title
        padding-bottom w(15)
        font-family $ff-Arsenal
        font-weight 700
        font-size w(48)
        line-height w(60)
        color $c-black
        text-align center
        text-transform uppercase
        border-bottom w(4) solid $c-yellow

    &__title-yellow
        padding w(0) w(10)
        font-family $ff-Arsenal
        font-weight 700
        font-size w(48)
        line-height w(60)
        color $c-yellow
        text-align center
        text-transform uppercase
        background: linear-gradient(97.83deg, #F9ED32 -2.86%, #FBB040 84.88%);
        -webkit-background-clip text
        -webkit-text-fill-color transparent
        background-clip text
        text-fill-color transparent

    &__wrap-title
        margin 0 auto
        display flex
        flex-direction row
        justify-content center

    &__line
        width w(163)
        height w(4)
        background $c-yellow
        margin 0 auto

    &__wrap
        padding-top w(40)
        display flex
        flex-direction row
        justify-content space-between

    &__subtitle
        padding-top w(60)
        font-family $ff-Arsenal
        font-weight 700
        font-size w(26)
        line-height w(33)
        color $c-black
        text-align center

    &__block
        width w(552)
        padding w(20)
        border w(1) solid $c-grey
        box-shadow w(6) w(9) w(10) rgba(38, 38, 38, 0.15)
        border-radius w(15)

    &__block-title
        padding w(20) 0 w(30)
        font-family $ff-Arsenal
        font-weight 700
        font-size w(26)
        line-height w(33)
        color $c-black
        span
            color $c-grey

    &__wrap-item
        margin-bottom w(20)
        height w(45)
        display flex
        flex-direction row
        align-items center
        &:last-child
            margin-bottom w(0)

    &__icon
        width w(45)
        img
            width 100%

    &__text
        padding-left w(20)
        font-family $ff-Arsenal
        font-weight 700
        font-size w(18)
        line-height w(23)
        color $c-black
        span
            color $c-grey

