mixin header-bottom()

    +b('section').header-bottom
        .container
            +e.wrap 
                +e('p').text кому помогаем? 
                +e('p').text Чем поможем?
                +e('p').text этапы работы
                +e('p').text наши дела
                +e('p').text отзывы
                +e('p').text отзывы
                +e('p').text Вопросы
                +e('p').text о нас
                +e('p').text Контакты