.header-bottom
    padding w(15) 0
    border-top w(2) solid #AEAEAE

    &__wrap
        display flex
        flex-direction row
        justify-content space-between

    &__text
        font-family $ff-Arsenal
        font-style normal
        font-weight 400
        font-size w(22)
        line-height w(28)
        text-transform uppercase
        color $c-black