.contact
    padding w(120) 0

    &__title
        padding-bottom w(15)
        font-family $ff-Arsenal
        font-weight 700
        font-size w(48)
        line-height w(60)
        color $c-black
        text-transform uppercase
        text-align center

    &__line
        width w(163)
        height w(4)
        background $c-yellow
        margin 0 auto

    &__wrap
        padding-top w(60)
        display flex
        flex-direction row
        justify-content space-between

    &__wrap-address
        display flex
        flex-direction row
        justify-content space-between

    &__info
        font-family $ff-Arsenal
        font-weight 400
        font-size w(16)
        line-height w(20)
        color $c-grey

    &__text
        padding-top w(5)
        font-family $ff-Arsenal
        font-weight 700
        font-size w(18)
        line-height w(23)
        color $c-black

    &__map
        padding w(30) 0
        width w(746)
        height w(350)

    &__wrap-requisite
        padding-top w(5)
        display flex
        flex-direction row
        justify-content space-between
        &:last-child
            padding-top w(10)

    &__text-info
        font-family $ff-Arsenal
        font-weight 700
        font-size w(18)
        line-height w(23)
        color $c-black

    &__feedback
        padding 30px
        width 358px
        height 537px
        background-image url(/images/contact.jpg)
        border 1px solid #262626
        border-radius 15px

    &__feedback
        margin-left w(30)
        display flex
        flex-direction column
        align-items center

    &__subtitle
        font-family $ff-Arsenal
        font-weight 700
        font-size w(26)
        line-height w(33)
        color $c-black
        text-align center

    &__message
        padding-top w(35)
        font-family $ff-Arsenal
        font-weight 400
        font-size w(16)
        line-height w(20)
        color $c-grey
        text-align center

    &__input-name
        padding-left w(20)
        margin-top w(25)
        width w(298)
        height w(42)
        background $c-white
        border w(1) solid $c-grey
        border-radius w(53)

    &__input-number
        padding-left w(20)
        margin-top w(15)
        width w(298)
        height w(42)
        background $c-white
        border w(1) solid $c-grey
        border-radius w(53)

    &__submit
        margin w(20) w(0) w(10)
        width w(155)
        height w(42)
        background linear-gradient(97.83deg, #F9ED32 -2.86%, #FBB040 84.88%)
        border-radius w(53)
        font-family $ff-Arsenal
        font-style normal
        font-weight 400
        font-size w(14)
        line-height w(18)
        color $c-black
        border none

    &__wrap-checkbox
        display flex
        flex-direction row

    &__checkbox
        width w(15)
        height w(15)
        border w(1) solid $c-grey
        border-radius w(2)

    &__text-checkbox
        padding-left w(5)
        font-family $ff-Arsenal
        font-weight 400
        font-size w(10)
        line-height w(13)
        color $c-black
        span
            padding-bottom w(2)
            font-weight 700
            border-bottom w(1px) solid $c-black
            color $c-black

    &__message-info
        padding-top w(35)
        font-family $ff-Arsenal
        font-weight 400
        font-size w(16)
        line-height w(20)
        color $c-black
        text-align center

    &__wrap-sharing
        padding-top w(25)
        width w(168)
        display flex
        flex-direction row
        justify-content space-between

    &__icon
        width w(42)
        height w(42)
        img
            width 100%