.info
    padding-top w(35)

    &__wrap
        display flex
        flex-direction row
        justify-content space-between
    
    &__image
        margin 0 auto
        width w(85)
        img
            width 100%

    &__text
        font-family $ff-Arsenal
        font-weight 700
        font-size w(18)
        line-height w(23)
        text-align center
        color $c-black