mixin info()

    +b('section').info
        .container
            +e.wrap 
                +e.block
                    +e.image
                        img(src='/images/image__info-1.png')
                    +e.text Опыт работы<br>более 6 лет
                +e.block
                    +e.image
                        img(src='/images/image__info-2.png')
                    +e.text Обеспечим<br>защиту имущества
                +e.block
                    +e.image
                        img(src='/images/image__info-3.png')
                    +e.text 100%<br>списание долгов
                +e.block
                    +e.image
                        img(src='/images/image__info-4.png')
                    +e.text Гарантия<br>результата в договоре
                +e.block
                    +e.image
                        img(src='/images/image__info-5.png')
                    +e.text Стоимость под ключ<br> остается неизменной