mixin slider()

    +b('section').slider
        .container
            +e.block 
                +e('h4').title Что говорят наши<br>клиенты?
                +e.line
            +e.swiper.swiper
                +e.swiper-wrapper.swiper-wrapper
                    +e.swiper-slide.swiper-slide
                        +e.wrap-slider
                            +e.slider-image
                                img(src='/images/slider-image-1.png')
                            +e.slider-title Захарова<br>Кристина Ивановна
                            +e.slider-text Lorem ipsum dolor sit amet consectetur. Non semper nisl elementum ac ridiculus. Fames consequat nec tempus sed augue sit ut viverra. Integer sit id dignissim nibh pretium vestibulum aliquet nam. Ultrices euismod eget adipiscing habitasse non viverra in. Eu lectus purus urna vulputate eget pretium vitae magna. 
                    +e.swiper-slide.swiper-slide
                        +e.wrap-slider
                            +e.slider-image
                                img(src='/images/slider-image-2.png')
                            +e.slider-title Ершов<br>Георгий Фёдорович
                            +e.slider-text Lorem ipsum dolor sit amet consectetur. Non semper nisl elementum ac ridiculus. Fames consequat nec tempus sed augue sit ut viverra. Integer sit id dignissim nibh pretium vestibulum aliquet nam. Ultrices euismod eget adipiscing habitasse non viverra in. Eu lectus purus urna vulputate eget pretium vitae magna.
                            +e.slider-link Показать больше
                    +e.swiper-slide.swiper-slide
                        +e.wrap-slider
                            +e.slider-image
                                img(src='/images/slider-image-3.png')
                            +e.slider-title Рогов<br>Всеволод Михайлович
                            +e.slider-text Lorem ipsum dolor sit amet consectetur. Non semper nisl elementum ac ridiculus. Fames consequat nec tempus sed augue sit ut viverra. Integer sit id dignissim nibh pretium vestibulum aliquet nam. Ultrices euismod eget adipiscing habitasse non viverra in. Eu lectus purus urna vulputate eget pretium vitae magna.  
                            +e.slider-link Показать больше
                    +e.swiper-slide.swiper-slide
                        +e.wrap-slider
                            +e.slider-image
                                img(src='/images/slider-image-1.png')
                            +e.slider-title Захарова<br>Кристина Ивановна
                            +e.slider-text Lorem ipsum dolor sit amet consectetur. Non semper nisl elementum ac ridiculus. Fames consequat nec tempus sed augue sit ut viverra. Integer sit id dignissim nibh pretium vestibulum aliquet nam. Ultrices euismod eget adipiscing habitasse non viverra in. Eu lectus purus urna vulputate eget pretium vitae magna. 
                    +e.swiper-slide.swiper-slide
                        +e.wrap-slider
                            +e.slider-image
                                img(src='/images/slider-image-1.png')
                            +e.slider-title Захарова<br>Кристина Ивановна
                            +e.slider-text Lorem ipsum dolor sit amet consectetur. Non semper nisl elementum ac ridiculus. Fames consequat nec tempus sed augue sit ut viverra. Integer sit id dignissim nibh pretium vestibulum aliquet nam. Ultrices euismod eget adipiscing habitasse non viverra in. Eu lectus purus urna vulputate eget pretium vitae magna. 
                +e.swiper-button-prev-1
                +e.swiper-button-next-1